div[class*="columns"]{
  background-color: rgba(153, 153, 153, 0.7) ;
  font-size: 1rem;
}

.barra ul li{
  display: inline-block;
  list-style: none;
  margin-top: 20px;
}

li{
  list-style: none;
  padding: 10px;
  text-align: center;
}
p{
  color: white;
}
a{
  color: white;
}

.parr{
  text-align: right;
  color: #ffffff;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

p{
  font-size: 25px;
}

body {
  background: url(/Users/nella/Desktop/blogdepostres-master/img/postres_veganos.png)
}

.field {
  display:flex;
  position:realtive;
  margin:0 auto;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.lista ul{
  margin-top: 30px;
}

.inicio{
  width: 100px;
}

section .fondo{
  width: 600px;
  background-color: rgba(153, 153, 153, 0.7) ;
}

.imagenes{
  width: 100px;
}

.list-group {
  margin-bottom: 1rem;
  border: 3px solid #e6e6e6;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #ffffff;
  background-color: #6fbb9c;
  border-color: 1px solid #6fbb9c;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: rgba(230, 230, 230, 0.3);
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}
